<style>
    .swiper-slide {
        background-position: center ;
        background-size: cover;
        width: 180px;
        height: 50px;
        color:white;
        background-color:#0080ff;
    }
</style>
<div id="background" class="heightAdjust">
<div class="container-fluid">
<div class="dropdown col-xs-4">
    <span class="dropdown-toggle {{data.screen1.glyphiconMenu}}" id="Menu" data-toggle="dropdown"></span>
    <ul class="dropdown-menu">
        <li><a href="#/search">{{data.common.search}}</a></li>
        <li><a href="#/rating">{{data.common.rating}}</a></li>
        <li><a href="#/location">{{data.common.location}}</a></li>
    </ul>
  </div>
<center>
<div class="col-xs-4" ><b>{{data.common.you}}</b></div>
</center></div><br/>
<center>
<img src="{{data.Hotels[Hotelindex].logo}}" id="logo" class="pageGap">
</center>
   <div class="swiper-container" dnd-draggable="item" dnd-effect-allowed="move">
        <div class="swiper-wrapper" >
            <div  class="swiper-slide text-center" ng-click="invite=true" id="lineHeight" ><div ng-click="cab()">BOOK CAB</div></div>
            <div class="swiper-slide text-center " ng-click="invite=false" id="lineHeight">INVITE FREINDS</div>
            <div class="swiper-slide text-center" ng-click="invite=true" id="lineHeight">RESERVE TABLE</div>
            <div class="swiper-slide text-center" ng-click="invite=true" id="lineHeight">MENU</div>
           <div class="swiper-slide text-center" ng-click="invite=true" id="lineHeight"><div ng-click="bill()">GET BILL</div></div>
        </div>
    </div>
    <center><div class="row" ng-init="invite=true" id="social" ng-hide="invite" style="width:80%;">
<img src="images/facebook.png" id="facebook" style="width:20%;">
<img src="images/whatsapp2.png" id="whatsapp" style="width:20%;margin-left:5%;">
<img src="images/message.png" id="message" style="width:20%;margin-left:5%;">
  </div></center>
</div>