<div class="container-fluid">
<div class="dropdown col-xs-4 col-sm-2 col-lg-2 col-md-2">
    <span class="dropdown-toggle {{data.screen1.glyphiconMenu}}" id="Menu" data-toggle="dropdown"></span>
    <ul class="dropdown-menu">
        <li><a href="#/search">{{data.common.search}}</a></li>
        <li><a href="#/rating">{{data.common.rating}}</a></li>
        <li><a href="#/location">{{data.common.location}}</a></li>
    </ul>
    <img src="{{data.userdatas[index].image}}" id="locationimage" class="img-circle"/>
  </div>
  
   <div class="input-group col-xs-8 col-sm-8 col-lg-8 col-md-8">
      		<input type="text" class="form-control" ng-model="searchText">
      		<span class="input-group-btn">
        	<button class="btn btn-default">
        		<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
        	</button>
      		</span>
    		</div>
    		
 
 </div>
  <div class="container-fluid" ng-repeat="hotels in data.Hotels | filter:searchText" id="cusine" ng-click="hotel($index)">
<div class="col-xs-3 col-sm-3 col-lg-3 col-md-3">
<img  src="{{hotels.image}}" id="table">
</div>
<div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
<div id="resName">{{hotels.restaurant}}</div>
<div id="details">{{hotels.discription}}</div>
<div id="details" >{{hotels.discriptionSecond}}</div>
</div>
<div class="col-xs-3 col-sm-3 col-lg-3 col-md-3">
<div id="details">{{hotels.miles}}</div>
<div id="offerFont">{{hotels.offer}}</div>
<div class="">
<img id="star" src="{{hotels.ratingone}}">
<img id="star" src="{{hotels.ratingtwo}}">
<img id="star" src="{{hotels.ratingthree}}">
<img id="star" src="{{hotels.ratingfour}}">
<img id="star" src="{{hotels.ratingfive}}">
</div>
</div>
</div>